@keyframes expand-reduce {
  0% {
    height: 32px;
    width: 32px;
  }

  50% {
    height: 48px;
    width: 48px;
  }

  100% {
    height: 32px;
    width: 32px;
  }
}

.loading-logo {
  animation: expand-reduce 1.5s ease-in-out infinite;
}
